@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-cinzel: "Cinzel Decorative", serif;
  --font-merriweather: "Merriweather", serif;
}

@theme inline {
  --background: #ffffff;
  --foreground: #171717;
  --font-cinzel: "Cinzel Decorative", serif;
  --font-merriweather: "Merriweather", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #000;
  color: #fff;
  font-family: var(--font-merriweather);
}

.vignette {
  box-shadow: inset 0px 0px 200px 50px rgba(0, 0, 0, 0.9);
}
